<md-toolbar color="primary">
  <span>Rose Routing</span>
  <span fxFlex></span>
  <a md-button [routerLink]="['/home']">Home</a>
  <a md-button [mdMenuTriggerFor]="moenchFloorsMenu">Moench</a>
  <md-menu [overlapTrigger]="false" #moenchFloorsMenu="mdMenu">
    <button md-menu-item [routerLink]="['/moench','200']">200</button>
    <button md-menu-item [routerLink]="['/moench','100']">100</button>
    <button md-menu-item [routerLink]="['/moench','L100']">L100</button>
    <button md-menu-item [routerLink]="['/moench','L200']">L200</button>
  </md-menu>

  <a md-button [routerLink]="['/signin']">Sign In</a>
</md-toolbar>
<md-card>
  <router-outlet></router-outlet>
</md-card>
